body{
    font-family: 'Rock Salt', cursive;
    color: #b6b5ca;
    background-color: #252120;
    text-align: center;
    
}
h1 {
    font-size: 55px;
}
#row-1 div, #row-2 div, #row-3 div{

    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #b6b5ca;
    float: left;
    box-sizing: border-box;
    padding-top: 5px;
}
#row-1, #row-2, #row-3{
    overflow: hidden;
    clear: both;
}
#row-1  div:first-child, #row-2  div:first-child, #row-3  div:first-child{
    border-left: none;
}
#row-1  div:last-child, #row-2  div:last-child, #row-3  div:last-child{
    border-right: none;
}
#row-1 div {
    border-top: none;
}
#row-3 div {
    border-bottom: none;
}
#board {
    margin: auto;
    display: inline-block;
}
span{
    font-size: 55px;
    text-align: center;

}