
    input {
        font-size: 2em;
        color: black;
        margin-top: 7px;
    }
    select{
        margin-top: 7px;
    }
    
    #carouselExampleIndicators {
         margin: 0 auto;   
         width: 500px;
    }
    .radio{
        display: inline-block;
        text-align: left;
        background-color: white;
        color: black;
        padding: 7px;
        margin-left: 7px;
    }